<html>
  <body>
    <h1>Input form</h1>
    <form method="POST" action="/new">
        <formgroup>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
        </formgroup>
        <formgroup>  
            <label for="text">Message:</label>
            <input type="text" id="text" name="text">
        </formgroup>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>